# Игнорирование node_modules, так как они будут установлены внутри контейнера
node_modules

# Игнорирование логов
*.log

# Игнорирование временных файлов операционной системы
.DS_Store
Thumbs.db

# Игнорирование папок конфигурации редакторов
.vscode

# Игнорирование папок с настройками CI/CD, которые не нужны в контейнере
.github
.gitlab-ci.yml
.circleci

# Игнорирование чувствительных данных и переменных среды
.env
.env.local
.env.development
.env.test
.env.production